*{
margin: 0%;
font-family: Open Sans;


}

.Btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
   
    
    color: white;
    padding: 18px 35px;
    height: 64px;
    
    
}
/*
img{
    width: 500;
    height: 400;
    padding-left: 180px;
    
    
}*/


nav{
    display: flex;

    justify-content:space-between;
    margin: 50px 200px;
    
}

nav li{
    list-style: none;
    display: inline;
    margin-left: 50px;
}
.nav-tytle{

    

    font-size: 45px;

    font-weight: 800;

   
}


/*  banner styles              */

.banner {

    padding-left: 200px;
    display: flex;
   
}

.ronyimg{

margin-left: 350px; 


}


.banner-title{
    font-size : 45px; ;
    font-weight:600;
    margin-top: 200;
    
}

.banner-subt{
    font-size : 85px; ;
    font-weight:700;

}

.dis{
    color: var(--Dark-03, #757575);
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}

.header{
   


    background-image: url(../images/header_bg.png),url(../images/developer.png);
  
    background-repeat: no-repeat;
    background-position: right bottom ,left;
    
  
   




}

.button{
   padding-top: 30px;
   

    
    
}

.style{
    

    border-radius: 5px;
    background: #FD6E0A;
   
    
    color: white;
    padding: 18px 35px;
    height: 50px;
font-weight: bolder;
text-align: center;
    
}

.style2{
    color: #FD6E0A;

    border-radius: 5px;
    
margin-left: 10px;
    padding: 18px 35px;
    height: 50px;
    font-weight: 700;
    text-align: center;
}

.size{
    background: #FFF8F3;
}

/* main-section */

main{
max-width: 1140px;
margin: 0 auto;

}


/* about section styles */
.about{
margin-top: 130px;
border-radius: 10px;
background: #FFF8F3;
padding: 130px 150px ;
text-align: center;

}
.section-title{
    
   text-align: center;
    margin-top: 50px;
    margin-bottom: 150px;
    font-weight: 700px;
    font-size: 35px;
    
}

.section-description{
 color: #757575;
 font-size: 18px;
 margin-bottom: 30px;

}

/* container */

.about-info-container{

    display: flex;
    justify-content: space-around;
}

.info-title{
    font-size: 20px;
     color: #757575;
}

.info-description{
font-weight: 700px;
font-size: 20px;
color: #474747 ;

}

/* what i do */

.what-i-do{

     margin-top: 130px; 
     
    
}

.skills-container{
     display: flex;
     gap: 24px;

}
.skill{
    border-radius: 5px;
    /* background: #FFF; */
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}
.skill-title{
font-size: 20px;
font-weight: 700px;
margin-top: 30px;
margin-bottom: 20px;
}

.skill-description{

    color: var(--Dark-03, #757575);

}

/* resume styles */
.resume-containt{

    display: flex;
    gap: 24px;
}

.resume-items{
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume .title{

    font-weight: 700px;
    font-size: 20px;
    color: var(--Dark-02, #474747);
    margin-bottom: 10px;
    

}
.resume .sub-title{
    font-weight: 600px;
    font-size: 20px;
    color: var(--Dark-03, #757575);
    margin-bottom: 20px;

}

.resume .description{
    color: var(--Dark-03, #757575);

}

.resume-btn{
    text-align: center;
    margin-top: 40px;
}

/* contact styles */

.contact{

    display: flex;
    gap: 117px;
    /* background: #FFF8F3; */
    padding: 130px 200px;

}

.contact.section-title{

    text-align: left;
}

.contact input[type="text"],input[type="email" ] ,textarea{
    margin-bottom: 24px;
    width: 100%;
    padding:18px 30px;
}

input{
    height: 64px;
}

.contact a {
    text-decoration: none;
}